{% extends 'base.html' %}
{% load static %}
{% block title %}Mis Contenidos{% endblock title %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
<link rel="stylesheet" href="{% static 'css/instructor_styles.css'%}">
{% endblock custom_styles %}

{% block content %}
    <div class="layout">
        {% include 'includes/sidebar_instructor.html' %}

        <div class="main-content">
            {% include 'includes/header_instructor.html' %}
            <main>

                <h2 class="form-title">Contenidos del módulo - {{module.title}}</h2>
                <h3 class="add-new-course">Agregar Módulo</h3>
                <div class="add-new-course">
                    <a href="{% url 'instructor:content_create' module_pk=module.id model_name='text' %}" class="button">Texto</a>
                    <a href="{% url 'instructor:content_create' module_pk=module.id model_name='image' %}" class="button">Imagen</a>
                    <a href="{% url 'instructor:content_create' module_pk=module.id model_name='file' %}" class="button">Archivo</a>
                    <a href="{% url 'instructor:content_create' module_pk=module.id model_name='video' %}" class="button">Video</a>
                </div>

                <ul class="drag-list" id="module-list">
                    
                    {% for content in contents %}
                        <li class="drag-item" data-id={{module.id}}>
                            <strong>{{content.item.title}}</strong> - <em>{{content.content_type.model}}</em> 
                            <div class="actions">
                                <a href="
                                {% url 'instructor:content_edit' module_pk=module.id pk=content.item.id model_name=content.content_type.model %}">
                                <i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'instructor:content_delete' pk=content.id %}"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </li>
                    {% empty %}
                        <li class="drag-item">No hay contenidos aun.</li>
                    {% endfor %}

                </ul>

            </main>
        </div>
    </div>

    
{% endblock content %}
    
