{% extends 'base.html' %}
{% block title %}Eliminar Contenido{% endblock title %}
{% load static %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
<link rel="stylesheet" href="{% static 'css/instructor_styles.css'%}">
{% endblock custom_styles %}

{% block content %}
    
<div class="layout">
    {% include 'includes/sidebar_instructor.html' %}
    <div class="main-content">
        {% include 'includes/header_instructor.html' %}

        <main>
            <h2 class="form-title">¿Estás seguro/a que quieres elimnar el contenido "{{object.item.title}}"?</h2>
            <form method='post'>
                {% csrf_token %}
                <button class="btn btn-danger" type='submit'>Sí, elimnar</button>
                
                <a class="btn btn-cancel" href="{{ request.META.HTTP_REFERER }}">Cancelar</a>
            </form>

        </main>

    </div>
</div>

{% endblock content %}