{% extends 'base.html' %}
{% block title %}Crear/Editar curso{% endblock title %}
{% load static %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
<link rel="stylesheet" href="{% static 'css/instructor_styles.css'%}">
{% endblock custom_styles %}

{% block content %}
    
<div class="layout">
    {% include 'includes/sidebar_instructor.html' %}
    <div class="main-content">
        {% include 'includes/header_instructor.html' %}

        <main>

            <h2 class="form-title">{{form.instance.pk|yesno:"Editar Curso,Crear Curso"}}</h2>
            <form method='post'>
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary" type="submit">Guardar</button>
            </form>
        </main>

    </div>
</div>

{% endblock content %}