{% extends 'base.html' %}
{% load static %}
{% block title %}Mis Módulos{% endblock title %}

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
<link rel="stylesheet" href="{% static 'css/instructor_styles.css'%}">
{% endblock custom_styles %}

{% block content %}
    <div class="layout">
        {% include 'includes/sidebar_instructor.html' %}

        <div class="main-content">
            {% include 'includes/header_instructor.html' %}
            <main>

                <h2 class="form-title">Módulos de {{course.title}}</h2>
                <div class="add-new-course">
                    <a href="{% url 'instructor:module_create' course_pk=course.id %}">Agregar módulo</a>
                </div>

                <ul class="drag-list" id="module-list">
                    
                    {% for module in modules %}
                        <li class="drag-item" data-id={{module.id}}>
                            <strong>{{module.title}}</strong>
                            <div class="actions">
                                <a href=""><i class="fa-solid fa-eye"></i>Ver contenido</a>
                                <a href="{% url 'instructor:module_edit' pk=module.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href=""><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </li>
                    {% empty %}
                        <li class="drag-item">No hay módulos aun.</li>
                    {% endfor %}

                </ul>

            </main>
        </div>
    </div>

    
{% endblock content %}
    
